<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ggkgl.Mapper.GreatMapper">
    <insert id="insert" statementType="STATEMENT">
        insert into ${tableName}
        <foreach collection="keys" item="item" index="index" open="("
                 separator="," close=")">
            ${item}
        </foreach>
        <foreach item="item" index="index" collection="attributes"
                 open="values (" separator="," close=")">'${item}'</foreach>
    </insert>

    <select id="desc" statementType="STATEMENT" resultType="HashMap">
        select * from ${tableName} order by ${order} desc, modify_time desc limit ${start} ,${length}
    </select>
    <select id="display" statementType="STATEMENT" resultType="HashMap">
        select * from ${tableName} limit ${start} ,${length}
    </select>


    <select id="getSize" statementType="STATEMENT" resultType="Integer">
        select count(*) from ${tableName}
    </select>

    <select id="getDesc" statementType="STATEMENT" resultType="String">
        select description from meta_data_2 where tableName='${tableName}'
    </select>

   <select id="freeInspect" statementType="STATEMENT" resultType="HashMap">
       select * from ${tableName} where ${key}='${value}'
   </select>


    <select id="freeSearch" statementType="STATEMENT" resultType="String">
        select ${field} from ${tableName} where id=${index}
    </select>

    <select id="comboSearch" statementType="STATEMENT" resultType="HashMap">
        select * from ${tableName} where
            <foreach collection="conditions" separator="and" item="condition" index="index">
                ${condition.key} like '%${condition.value}%'
            </foreach>
    </select>

    <update id="update" statementType="STATEMENT">
        update ${tableName} set
        <foreach collection="changeList" item="change"
                 index="index"  separator=",">
            ${change.key}= '${change.value}'
        </foreach>
        <where>
            id=${Id}
        </where>
    </update>

    <update id="updateDesc" statementType="STATEMENT">
        update meta_data_2 set description='${desc}' where tableName='${tableName}'
    </update>



    <delete id="delete" statementType="STATEMENT">
        delete from ${tableName} where Id=${Id}
    </delete>

</mapper>
